<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta namme="description" content="Visualización de casos de Covid-19 
        en el Sur de California por condados, localidades, vecindarios o 
        lugares" />
        <meta name="keywords" content="Covid-19, California, Sur de California,
        casos, muertes, casos de Covid-19, muertes por Covid-19, 
        Visualización de casos, Visualización Covid-19, mapa Los Angeles,
        Orange, Riverside, San Bernardino, Ventura, San Diego, 
        Santa Barbara, Imperial" />
        <meta property="og:title" content="Covid-19 Sur de California" />
        <meta property="og:description" content="Visualización de casos de Covid-19 
        en el Sur de California por condados, localidades, vecindarios o 
        lugares" />
        <meta property="og:image" content="{{ url_for('static',filename='img/surCalifornia.jpeg') }}" />
        <meta name="twitter:title" content="Covid-19 Sur de California" />
        <meta name="twitter:description" content="Visualización de casos de Covid-19 
        en el Sur de California por condados, localidades, vecindarios o 
        lugares" />
        <meta name="twitter:image" content="{{ url_for('static',filename='img/surCalifornia.jpeg') }}" />
        <title>Covid-19 Sur de California</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />

        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
        crossorigin="anonymous"></script>


    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1>
                        Visualización de casos de Covid-19 en el 
                        Sur de California.
                    </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 id="clickOver">Búsqueda por fecha específica</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" 
                          id="inputGroup-sizing-sm">Fecha de Consulta</span>
                        </div>
                        <input type="date" id="date" class="form-control" 
                        aria-label="Sizing example input" 
                        aria-describedby="inputGroup-sizing-md">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <input type="button" class="btn btn-sm btn-success" id="getByDate" value="Buscar" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" id="table">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>
                        Muchas ciudades registradas en esta aplicación no están
                        referenciadas con las marcas de globo dentro del mapa.
                        Para más información sobre casos por ciudad intente
                        hacer zoom en el mapa hasta que aparezca el nombre 
                        de su ciudad <label id="clickOver"> y haga clic sobre el 
                        nombre
                        </label>.
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="map"></div>
                    <h6>
                        *Si su localidad no muestra 
                        datos, intente hacer más zoom en el mapa y vuelva a 
                        hacer clic.
                    </h6>
                </div>
            </div>
        </div>
        <div  id="information" title="Información">
            
        </div>
        <script type="text/javascript" src="{{ url_for('static',filename='parsePlaces.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='getInitialData.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='initMap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='paintPoints.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='paintTable.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='paintMessage.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='formatNumber.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='getByDate.js') }}"></script>
        <script async type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgtDNTNLg5xp_RD8H0R_b5KKK1NR0inQk&callback=initMap">
        </script>
    </body>
</html>
